body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #9fc0de;
}

/*
colors 
light blue #9fc0de
light orange #ffB347
blue #779ecc
*/

/* The top head of the page*/
.container-header {
    margin: 0;
    background-color: #779ecc;
    height: 84px;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 15px;
}
.center {
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 48px;
    color: white;
    text-align: center;
}

.title{
    display: flex;
    align-items:center;
    justify-content: center;
    color:#ffB347;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    padding-right: 30px;
}

.title a{
    text-decoration: none;
    color:inherit;
    font-weight: 600;
}



/* FAQ DropDown box*/
.rules {
  display: none;
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 35%;
  width: 25%;
  z-index: 1;
}

#rules-link {
    position: relative;
    color: white;
    font-size: 48px;
    font-weight: 600;
    text-decoration: none;
    }
/* the part of the page that is used, staging and shapes*/
.container{
    padding: 30px 0 30px 0;
    display: flex;
    align-items:center;
    justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(85, 1fr); /* Adjust the number of columns here */
  grid-template-rows: repeat(65, 1fr); /* Adjust the number of rows here */
  gap: 0px; /* Adjust the gap between squares here */
  background-color: navy;
  padding: 2px;
}

.square {
  background-color: #ccc;
  border: 1px solid #777;
  height: 10px;
  width: 10px;
}
.color1 {
  background-color: #ff0000;
}

.color2 {
  background-color: blue;
}

.color3 {
  background-color: green;
}

.color4 {
  background-color: #ffff00;
}

.color5 {
  background-color: #ccc;
}